body {
 background: #efeecc;
 margin: 0;
}

header {
    text-align: center;
}

nav {
    background: #9f3647;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

h2 {
    text-align: center;
}

#platos-destacados, #platos, #bebidas, #postres {
    display: flex;
    margin: 20px;

}

#plato, #bebida, #postre {
    width: 500px;
}

#plato img, #bebida img, #postre img {
    width: 300px;
    height: 166px;
}
