@import url('https://fonts.googleapis.com/css?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ephesis&display=swap');

:root {
  --max-width: 768px;
  --text-xl: 4.052rem;
  --text-lg: 1.953rem;
  --text-sm: 0.875rem;
  --bg-primary: #fffaf2;
  --bg-secondary: #7f1d1d;
}

html {
  font-size: 16px;
  font-family: 'Trocchi', sans-serif;
}

body {
  background: var(--bg-primary);
}

.header {
  max-width: var(--max-width);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Ephesis', sans-serif;
  font-size: var(--text-xl);
  user-select: none;
}

nav {
  background: var(--bg-secondary);
  padding: 4px;
}

nav ul {
  max-width: var(--max-width);
  margin: 0px auto;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 6px 0px;
}

nav ul li a {
  text-decoration: none;
  transition: 200ms;
  border-bottom: 1.5px solid transparent;
  color: var(--bg-primary);
}

nav ul li a:hover {
  border-bottom-color: var(--bg-primary);
  color: var(--bg-primary);
}

.main {
  margin: 43px auto;
  max-width: var(--max-width);
}

.sub-title {
  text-align: center;
  font-size: var(--text-lg);
}

.footer {
  text-align: center;
  font-size: var(--text-sm);
}

.highlights-plates {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-secondary);
}

.plate {
  display: flex;
  flex-direction: row;
}

.plate div:last-child {
  border-left: 1px solid var(--bg-secondary);
}

.plate:not(:last-child) {
  border-bottom: 1px solid var(--bg-secondary);
}

.plate .image {
  flex: 1 1 0%;
}

.plate .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 200ms;
}

.plate .image img:hover {
  transform: scale(1.2);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25)
}

.plate .description {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.plate .description p {
  width: 60%;
  text-align: center;
  line-height: 2rem;
}

.paragraph {
  line-height: 2rem;
}

